@import "tailwindcss";
/* In app/globals.css */



.body {
  padding: 0px;
  margin: 0px;

}



p {
  line-height: 30px;
}


@media only screen and (min-width: 810px) and (max-width: 1024px) {
 .map{

  height: calc(60vw + 150px);
 }
}


.font-orbitron{
  font-family: var(--font-orbitron);
}


.font-audiowide{
  font-family: var(--font-audio-wide);
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.cursor-grab:hover + .title{
 opacity: 1;
  
 

}

.circle:hover, .task:hover + .Done{
  opacity: 1;
}
 

.mew:hover + .mewTask{
  opacity: 1;
}
